@import 'mixins';

body {
  background-color: var(--color__background);
}

button,
[role='button'] {
  cursor: pointer;
}

* {
  --color__background: #1f2125;
  --color__primary: #2d2f37;
  --color__selection: #2d2f37df;
  --color__input: #18191d;
  --color__modal-fog: #10121785;
  --color__success: #006907;
  --color__error: #891107;
  --color__info: #226689;
  --color__accent: #5b38bf;
  --color__text: #cecece;

  color: var(--color__text);
  box-sizing: border-box;

  @include user-select(none);
}

*::selection {
  background-color: var(--color__selection);
}
