@import 'mixins';

body {
  background-color: #1f2125;
}

button,
[role='button'] {
  cursor: pointer;

  @include user-select(none);
}

* {
  --color__primary: #2d2f37;
  --color__success: #006907;
  --color__error: #891107;
  --color__info: #226689;
  --color__accent: #5b38bf;
  --text-color: #cecece;

  color: var(--text-color);
  box-sizing: border-box;
}
